###> Josee9988/Mechanography-simulator ###

##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/
releases/
__pycache__

# IDE's
.vscode/
.idea/

##### Files #####
ignore.*
*.ignore.*
*.spec

# Environment variables and secret keys
.env
.env.test
*.pem

###< Josee9988/Mechanography-simulator ###
